<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--> 
<html>
	<head>
		<title>Theory by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="first.html" class="logo">Theory</a>
					<nav id="nav">
						<a href="first.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Welcome to CY Lab</h1>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Multiple tissue and single gene</h3>
							</header>
							<p></p>
							<footer>
								<a href="http://127.0.0.1:8000/hello/" class="button special">More</a>
							</footer>
						</article>

						<article>
							<header>
								<h3>Polygene and single tissue</h3>
							</header>
							<footer>
								<a href="http://127.0.0.1:8000/gene/" class="button special">More</a>
							</footer>
						</article>						
						<article>
							
						</article>
					</div>
				</div>
			</section>



		<!-- Three -->
<!--			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Nunc Dignissim</h2>
						<p>Aliquam erat volutpat nam dui </p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="/static/images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Praesent placerat magna</h3>
							</header>
							<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="/static/images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Fusce pellentesque tempus</h3>
							</header>
							<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>-->

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="flex">
					<div class="copyright">
						&copy;  Design: Jianjian</a>.
					</div>
					<ul class="icons">
						<li><a href="https://www.facebook.com/groups/ym.twist" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://drive.google.com/drive/folders/0AMTWzasddZutUk9PVA" class="icon fa-google plus"><span class="label">linkedIn</span></a></li>

						<li><a href="https://trello.com/chenslabatnymu/home" class="icon fa-tumblr"><span class="label">Vimeo</span></a></li>
					</ul>
				</div>
			</div>
		</footer>

	<!-- Scripts -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/skel.min.js"></script>
		<script src="/static/assets/js/util.js"></script>
		<script src="/static/assets/js/main.js"></script>

</body>
</html>